@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} 
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.ttf') format('truetype');
    font-weight: 900;
    font-style: bold;
} 

@font-face {
    font-family: 'Sansita Swashed';
    src: local('Sansita Swashed'), local('Sansita Swashed'),  
    url('../fonts/SansitaSwashed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

